:root {
  --first-color: #1a202c;
  --second-color: #90a3bf;
  --third-color: #ffffff;
  --fourth-color: #3563e9;
  --Fifth-color: #f6f7f9;
}

body {
  font-family: "PlusJakartaSans", Arial, Helvetica, sans-serif;
  background-color: var(--third-color);
}
.fotoContainer {
  width: 248px;
  height: 100px;
}

.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--Fifth-color);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mainContainer h2 {
  display: flex;
  margin: 10px 0px 24px 30px;
  color: #90a3bf;
}

#productsContainer {
  display: flex;
  gap: 24px;
}

.recomendedCArs {
  flex-wrap: wrap;
}
.card {
  margin: 0 auto;
  width: 304px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
}

.likeIcon {
  position: absolute;
  left: 265px;
  top: 20px;
  cursor: pointer;
}

.carNameCont {
  margin: 24px 0px 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.carName {
  color: var(--first-color);
  font-weight: bold;
}

.typeOfCar {
  color: var(--second-color);
}

.fotoContainer {
  margin: 0 auto;
}

.fotoContainer img {
  width: 232px;
}

.carDescription {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 24px;
}

.carDescription .fuel,
.typeOfgear,
.sitesOfcar {
  display: flex;
  gap: 4px;
  align-items: center;
}

.carDescription p {
  font-size: 14px;
  color: var(--second-color);
}

.rentInfo {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  justify-content: space-between;
}

.rentInfo p {
  font-size: 20px;
  font-weight: bold;
}

.rentInfo span {
  color: var(--second-color);
  font-size: 14px;
}

.rentInfo button {
  width: 116px;
  height: 44px;
  background-color: var(--fourth-color);
  border: none;
  border-radius: 4px;
  color: var(--third-color);
  cursor: pointer;
}
#products2Container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
